body{
    display: flex;
    justify-content: center;
    background-color: black;
    
    
    

}

.display{background-color: white;
    width: 330px;
    height: 50px;
    margin-bottom: 2%;
    border-radius: 20px;
    font-size: 45px;
    text-align: right;
    padding: 10px;
    

    
}



.main-container{
   margin-top: 15vh;
    width: 350px;
}


button{
height: 80px;
width: 80px;
margin: .5%;
font-size: xx-large;
border-radius: 50%;
background-color: rgb(161, 157, 153);
border: 0px;
cursor: pointer;
}

button:hover{
    background-color: rgb(186, 181, 181);
}




